body {
    background: url(images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0; /* Ajuste para eliminar el margen predeterminado del cuerpo */
}

header {
    text-align: center; /* Centra el contenido del encabezado */
    padding: 20px 0; /* Añade espacio alrededor del contenido del encabezado */
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    color: white;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cont_carro, .cont_brazo, .cont_dron {
    width: calc(33.33% - 40px); /* 33.33% del ancho menos el margen (40px) entre elementos */
    max-width: 400px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cont_carro img, .cont_brazo img, .cont_dron img {
    width: 100%;
    height: 100%;
}

.cont_carro p, .cont_brazo p, .cont_dron p {
    font-size: 2.6rem;
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 10px rgba(255, 215, 0);
}

.cont_brazo p {
    top: 75%;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
}

.cont_dron p {
    top: 10%;
    text-shadow: 0px 0px 10px rgba(255, 215, 0);
}

.cont_carro:hover, .cont_brazo:hover, .cont_dron:hover {
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}

footer {
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Media queries para dispositivos más pequeños */
@media screen and (max-width: 768px) {
    .cont_carro, .cont_brazo, .cont_dron {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 480px) {
    .cont_carro, .cont_brazo, .cont_dron {
        width: calc(100% - 40px);
    }
}
